#ignore .env
.env

#ignore requirements.txt
requirements.txt

#ignore frontend
/frontend/node_modules/
/frontend/dist/
/frontend/package-lock.json
/frontend/package.json
/frontend/vite.config.js
/frontend/eslint.config.js
/frontend/index.html

#ignore backend
/backend/apps/__pycache__/
/backend/apps/weather/__pycache__/
/backend/apps/weather/management/commands/__pycache__/
/backend/apps/weather/migrations/__pycache__/
/backend/config/__pycache__/

#ignore data
/data/__pycache__/

#ignore settings
.settings.json

#ignore .vscode
.vscode

#ignore .gitignore
.gitignore

